* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    color: #333333; 
    line-height: 1.6;
    display: flex;
    flex-direction: column; 
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: #333333; 
    color: #ffffff; 
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin-right: auto;
}

header nav {
    flex-grow: 1;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin-left: 15px;
}

header nav ul li a {
    color: #ffffff; 
    text-decoration: none;
}

.uslugi {
    background: #007bff; 
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 30px;
}


.services {
    padding: 50px 0;
    text-align: center;
}

.services h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.services p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; 
}

.service-item {
    display: inline-block;
    width: 30%;
    margin: 1.5%;
    background: #ffffff; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.service-item img {
    max-width: 100%;
    border-radius: 5px;
}

.service-item h4 {
    margin-top: 10px;
    color: #333333; 
}

.features {
    background: #f9f9f9; 
    padding: 50px 0;
    text-align: center;
    flex-grow: 1; 
}

.features h3 {
    font-size: 2em;
    margin-bottom: 30px;
}

.feature-list {
    display: flex;
    justify-content: space-around;
}

.feature-item {
    background: #ffffff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 30%;
}

footer {
    background: #333333; 
    color: #ffffff; 
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

.opinie {
    background: #f4f4f4; 
    padding: 50px 0;
    text-align: center;
}

.opinie-container {
    position: relative;
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto;
}

.opinia-item {
    position: absolute;
    width: 100%; 
    opacity: 0; 
    transition: opacity 1s ease; 
}

.opinia-item.active {
    opacity: 1; 
}
